@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --Purple500: hsl(259, 100%, 65%);
    --Red400: hsl(0, 100%, 67%);
    --White: hsl(0, 100%, 100%);
    --Grey100: hsl(0, 0%, 94%);
    --Grey200: hsl(0, 0%, 86%);
    --Grey500: hsl(0, 1%, 44%);
    --Black: hsl(0, 0%, 0%);
}



body {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;

}

div.container-form{

}
form{

}
form .container-fields{

}

form .container-fields .lbl-age{

}